.items{
    height: 300px;
    width:300px;
    margin-top:50px ;
    margin-bottom: 50px;
    margin-right:50px;
    margin-left:50px;
    background-color: aquamarine;
    text-align: center;
    font-size: 30px;
    padding-top:8vh;
  }
  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
     color: #000;
     text-decoration: none;
  }